.tooltip {
  border-radius: 2px;
  background-color: #354053;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
